@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom:15px">Welcome to Customer Management</h1>
    
   
    <div class="col-12">
        <table style="border: 1px solid blue" class="table table-striped">
            <thead>
                <tr>
                    <td>Product No:</td>
                    <td>Product Name</td>
                    <td>Price</td>
                    <td>View</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Product 1</td>
                    <td>£1.67</td>
                    <td>
                        <a href="ProductView?id=1">View</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Product 2</td>
                    <td>£12.89</td>
                    <td>
                        <a href="ProductView?id=2">View</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Product 3</td>
                    <td>£12.89</td>
                    <td>
                        <a href="ProductView?id=3">View</a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>
