@model IEnumerable<RentModel>
@{
    ViewData["Title"] = "Tech";

    var rent = (RentModel)ViewData["rent"];
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom:15px">Welcome to Phoenix Tech Rental</h1>
    <div class="row">

        <div class="col-md-4 " style="justify-items:center; align-content:center;">
            <img src=@rent.ProductImageLink style="width:229px; margin:auto; padding:10px" />
            <p style="margin-top:15px; text-align:center">
                @rent.ProductName
            </p>
        </div>

        <div class="col-md-6 " style="justify-items:center; align-content:center;">
            <table class="table table-striped">
                <tr>
                    <td colspan="2">@rent.ProductName</td>
                </tr>
                <tr>
                    <th>Rental Fee per month</th>
                    <td>£@rent.RentalPrice</td>
                </tr>
                <tr>
                    <th>Stock</th>
                    <td>@rent.Stock</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>@rent.Description</td>
                </tr>
                <tr>
                    <th colspan="2"><a href="TechUpdate" class="btn btn-primary">Update</a></th>
                </tr>

            </table>
        </div>

    </div>
</div>