@{
    ViewData["Title"] = "About Us";
}

<h4> Hello and Welcome to Phoenix.co.uk </h4>
<body>
<p>
    &nbsp;
</p>
<h4> Who are we? </h4>
<p>
    &nbsp;
</p>
<h6> We are a B-Corp verified business that provides three different services. They are streaming, selling products and providing a tech hire service.</h6>
<h6>Take a look around and when you are ready to purchase, rent or stream, simply get registered!</h6>
<p>
    &nbsp;
</p>
<h4> What is B-Corp? </h4>

<p>
    <header>
            <img src="https://www.businessleader.co.uk/wp-content/uploads/2022/05/Certified-B-Corp-image.jpg" style="width:320px; margin:auto; padding:10px" />
    </header>
</p>
<h6> As a B-Corp verified business, one of our main goals for our business is helping local communities and keeping the environment clean, as we think they are important. We have been recognised by B-Lab, an organisation that verifies many businesses for their high social and environmental performance.  </h6>
</body>