@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-bottom:15px">Welcome Customer</h1>
    <div class="row">
        <div class="col-md-3 " style="justify-items:center; align-content:center;">
            <img src="https://i0.wp.com/www.scaretissue.com/wp-content/uploads/2019/10/Prey-Key-Art.jpg" style="width:229px; margin:auto; padding:10px" />
            <p style="margin-top:15px; text-align:center">
                Title of Movie
            </p>
        </div>
        <div class="col-md-3 " style="justify-items:center; align-content:center;">
            <img src="https://i0.wp.com/www.scaretissue.com/wp-content/uploads/2019/10/Prey-Key-Art.jpg" style="width:229px; margin:auto; padding:10px" />
            <p style="margin-top:15px; text-align:center">
                Title of Movie
            </p>
        </div>
        <div class="col-md-3 " style="justify-items:center; align-content:center;">
            <img src="https://i0.wp.com/www.scaretissue.com/wp-content/uploads/2019/10/Prey-Key-Art.jpg" style="width:229px; margin:auto; padding:10px" />
            <p style="margin-top:15px; text-align:center">
                Title of Movie
            </p>
        </div>
        <div class="col-md-3 " style="justify-items:center; align-content:center;">
            <img src="https://i0.wp.com/www.scaretissue.com/wp-content/uploads/2019/10/Prey-Key-Art.jpg" style="width:229px; margin:auto; padding:10px" />
            <p style="margin-top:15px; text-align:center">
                Title of Movie
            </p>
        </div>


    </div>
</div>
